Language: Cpp
BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 100
PointerAlignment: Right
AlignAfterOpenBracket: DontAlign
SpaceAfterCStyleCast: false
SortIncludes: false
SpacesInContainerLiterals: false
AlignOperands: DontAlign
Cpp11BracedListStyle: false
AlignEscapedNewlines: Left
